/* 共通部分
---------------------------------*/

body {
    font-family: "MS明朝","Zen Antique";
    color: #f8f4f6;
    background-color: #0d0d0d;
    line-height: 1.0;
}



.centered_text {
    text-align: center;
}

/* タイトル
---------------------------------*/

section.title {
    padding-top: 16rem;
}

section.title .subtitle {
    position: absolute;
    left: -1.5rem;
    top: 23rem;
    color: #0d0d0d;
    background-color: #f8f4f6;
    width: fit-content;
    padding: .7rem;
    padding-left: 3rem;
    padding-right: 1rem;
}

h3.leftside{
    position: absolute;
    left: 3.5rem;
    top: 14rem;
}

div.same-line {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

section.title h1, 
section.title h2, 
section.title h3 {
    margin: 0;
}

.shadow{
    text-shadow: 2px 2px #6e6e6e;
}
section.title h1 {
    font-size: 5rem;
    color: #c5a059;
    text-shadow: 2px 2px #b22d1d;
}
section.title h2 {
    font-size: 4rem;
}
section.title h3 {
    font-size: 2rem;
}       

.cloud1 {
    position: absolute;
    left: -.5rem;
    top: 2.5rem;
    width: 15rem;
}

.cloud2 {
    position: absolute;
    right: -.5rem;
    top: 20rem;
    width: 15rem;
}

.crane {
    position: absolute;
    z-index: 10;
    left: .8rem;
    top: 25rem;
    width: 15rem;
}

/* 概要説明
---------------------------------*/

section.explanation {
    position: relative;
    z-index: 1;
    margin-top: 30rem;
    width: 100vw;
    background: linear-gradient(#0d0d0d, #f8f4f6,#0d0d0d,#0d0d0d);
}                  
/*
section.explanation div{
    position: relative;
    z-index:20;
    top: 10%;
}*/
section.explanation p {
    color: #0d0d0d;
    background-color: #f8f4f6;
    width: fit-content;
    margin: 2rem auto;  
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.background {
    display: block;
    width: 100vw;   /* 横幅を親要素に合わせる */
    height: auto;  /* 高さは自動（比率を維持） */
}

section.explanation div {
    position: absolute; /* 文字を画像の上に浮かせる */
    top: 70rem;           
    left: 0;          
    transform: translate(-.5rem, -.5rem); /* 真ん中に持ってくる */
    width: 100vw;        /* 文字の横幅制限 */
    z-index: 20;
}
/* 画像を背後に固定 
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    object-fit: contain; 
    z-index: 10; 
    pointer-events: none; 
}
/* コンテンツ
---------------------------------*/
.contents{
    margin-top: 30%;
}

.img1, 
.left, 
.contents h2, 
.contents h3, 
p.sentence1,
.button_vm{
    position: relative;
    z-index: 20;
}

/*統計１*/
.content1{
    position: relative;
    margin-bottom: 50%;
}

.img1 {
    width: 65%;
    /*display: block;
    margin: 0 auto;*/
}

.left{
    left: -32%;
}

.contents h2{
    font-size: 2.5rem;
    color: #0d0d0d;
    background-color: #f8f4f6;
    width: fit-content;
    margin: 8% auto;  
    padding: 3%;
}

.contents h3{
    font-size: 2rem;
}

p.sentence1 {
    width: 80%;
    font-size: 1.5rem;
    margin: 5% auto;
    line-height: 2rem;
}

.button_vm {
    padding: 2%;
    font-size: 1.5rem;
    color: #0d0d0d;
    background-color: #f8f4f6;
    border: none;
    border-radius: 5%;
    right: -25%;
}

:hover.button_vm {
    background-color: #c5a059;
    color: #f8f4f6;
    cursor: pointer;
}

/*装飾*/

.circle {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -8%;
    width: 75%;
}

.cloud3{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    width: 50%;
}

.crane2{
    position: absolute;
    z-index: 10;
    left: 43%;
    top: 100%;
    width: 70%;
}